@import "reset";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}


#header {
  padding: 20px 0;
  background: rgba(239, 236, 236, 0.53);
  position: fixed;
  width: 100%;
  z-index: 999;
  animation: ani .6s alternate;

  @keyframes ani {
    0% {
      transform: translateY(-600px);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: translateY(0);
    }
  }

  .header--general {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: 'Playfair Display', sans-serif;
      font-weight: 700;
      font-size: 24px;
      color: #10375C;
    }

    .header--general__navbar {
      a {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #222831;
        padding: 0 20px;
        transition: .2s;

        &:hover {
          transform: scale(1.1);
          color: #004686;
        }
      }
    }

    .header--general__tabs {
      button {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #FF5722;
        width: 103px;
        height: 43px;
        border: none;
        transition: .2s;

        &:hover {
          transform: scale(1.1);
          color: white;
          background: #FF5722;
          box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32);
        }

      }
    }
  }
}

#hero {
  padding-top: 130px;

  .hero--general {
    display: flex;
    align-items: center;

    h1 {
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #222831;
    }

    hr {
      width: 73px;
      height: 2px;
      background: #222831;
      margin-left: 10px;
    }
  }

  .hero--title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    h2 {
      font-family: 'Lora', sans-serif;
      font-weight: 700;
      font-size: 52px;
      line-height: 67px;
      color: #10375C;

      span {
        color: #DD2C00;
      }
    }

    p {
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #6A6A6A;
    }
  }

  .hero--img {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hero--block {
      position: absolute;
      z-index: 90;
      width: 445px;
      height: 480px;
      background: #10375C;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: 'Lora', sans-serif;
        font-weight: 700;
        font-size: 34px;
        color: #FFFFFF;
        padding-top: 40px;
      }

      .hero--block__select {
        padding-top: 20px;

        h2 {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          opacity: 0.35;
          top: 115px;
          left: 55px;
          position: absolute;
        }

        h3 {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          opacity: 0.35;
          top: 213px;
          left: 55px;
          position: absolute;
        }

        h4 {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          opacity: 0.35;
          top: 313px;
          left: 55px;
          position: absolute;
        }

        select {
          width: 365px;
          height: 68px;
          border: none;
          background: #0D2C4A;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          padding-top: 20px;
          padding-left: 10px;
          margin: 5px 0;
        }
      }

      button {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        width: 363px;
        height: 60px;
        border: none;
        background: #FF5722;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
      }
    }

    img {
      width: 960px;
      height: 598.05px;
      position: relative;
      left: 320px;
    }
  }
}

#space {
  padding: 60px 0;

  .space--title {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: 'Lora', sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: #10375C;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #9A9A9A;
    }

    &__icon {
      display: flex;

      .left {
        padding-right: 30px;
      }
    }
  }

  .space--general {

    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 340px;
      height: 470px;

      .image {
        display: flex;
        flex-direction: column;
        position: relative;

        button {
          position: absolute;
          bottom: 63px;
          width: 72px;
          height: 72px;
          color: white;
          font-size: 15px;
          background: #FF5722;
          border: none;
        }

        h2 {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 20px;
          text-align: center;
          color: #222831;
          padding: 20px 0;
        }
      }

      .block {
        width: 340px;
        height: 470px;
        background: #10375C;
        display: flex;
        flex-direction: column;

        img {
          width: 100px;
          padding: 15px 225px;
          margin-bottom: 30px;
        }

        h1 {
          font-family: 'Lora', sans-serif;
          font-weight: 400;
          font-size: 32px;
          color: #FFFFFF;
          text-align: center;
          padding: 15px 0;
        }

        span {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          text-align: center;
          color: #FFFFFF;
        }

        button {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 18px;
          text-align: center;
          color: #FFFFFF;

          width: 255px;
          height: 72px;
          border: none;
          background: #FF5722;
          margin-top: 100px;
        }
      }

    }

    display: flex;
    justify-content: space-between;
  }
}

#revolut {
  padding: 90px 0;

  .revolut {
    display: flex;
    justify-content: space-between;

    &--left {
      display: flex;

      &__group1 {
        padding: 0 60px;

        .icon {
          display: flex;
          padding: 40px 0;

          &--title {
            padding-left: 20px;

            h1 {
              font-family: 'Lora', sans-serif;
              font-weight: 400;
              font-size: 32px;
              color: #10375C;
            }

            p {
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 16px;
              color: #9A9A9A;
              padding: 5px 0;
            }
          }
        }
      }

    }

    &--right {
      &__block {
        width: 500px;
        height: 421px;
        background: #10375C;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;

        &--general {
          display: flex;
          align-items: center;

          h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
          }

          hr {
            width: 73px;
            height: 1px;
            background: #FFFFFF;
            margin-left: 10px;
          }
        }

        h2 {
          font-family: 'Lora', sans-serif;
          font-weight: 700;
          font-size: 40px;
          line-height: 51px;
          color: #FFFFFF;
          padding-top: 10px;
        }

        p {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
          padding-top: 20px;
        }
      }
    }
  }
}

#all {
  .all--title {
    display: flex;
    align-items: center;

    h1 {
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #222831;
    }

    hr {
      width: 73px;
      height: 2px;
      background: #222831;
      margin-left: 10px;
    }
  }

  h2 {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #10375C;
  }

  .all--general {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    &__line {
      display: flex;
      align-items: center;
      flex-direction: column;

      hr {
        width: 4px;
        height: 60px;
        background: #FF5722;
        border: none;
      }

      .line {
        width: 4px;
        height: 160px;
        background: #DFDFDF;
        border: none;
        margin-top: -5px;
      }

      h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #10375C;
        margin-top: 50px;
        transform: rotate(-90deg);
      }
    }

    &__label {
      label {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #222831;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        transition: .4s;

        &:hover {
          background: #FF5722;
          width: 293px;
          height: 22px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &__tabs {
      input {
        display: none;
      }

      img {
        width: 729px;
        height: 453px;
      }
    }

    #one:checked ~ .two,
    #one:checked ~ .three,
    #one:checked ~ .four,
    #one:checked ~ .fife {
      display: none;
    }

    #two:checked ~ .one,
    #two:checked ~ .three,
    #two:checked ~ .four,
    #two:checked ~ .fife {
      display: none;
    }

    #three:checked ~ .one,
    #three:checked ~ .two,
    #three:checked ~ .four,
    #three:checked ~ .fife {
      display: none;
    }

    #four:checked ~ .one,
    #four:checked ~ .two,
    #four:checked ~ .three,
    #four:checked ~ .fife {
      display: none;
    }

    #fife:checked ~ .one,
    #fife:checked ~ .two,
    #fife:checked ~ .three,
    #fife:checked ~ .four {
      display: none;
    }

    #oll:checked ~ .two,
    #oll:checked ~ .three,
    #oll:checked ~ .four,
    #oll:checked ~ .fife {
      display: none;
    }
  }
}

#immer {
  padding: 50px 0;

  .immer {
    padding-left: 700px;

    &--title {
      display: flex;
      align-items: center;
      padding-bottom: 10px;

      h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #222831;
      }

      hr {
        width: 73px;
        height: 2px;
        border: none;
        background: #222831;
        margin-left: 10px;
      }
    }

    h2 {
      font-family: 'Lora', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;
      color: #10375C;
      padding-bottom: 30px;

    }

    &--icon {
      margin-left: 30px;
    }
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

    img {
      width: 300px;
      height: 300px;
    }
  }
}

#who {
  padding: 50px 0;

  .who {
    h1 {
      font-family: 'Lora', sans-serif;
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      color: #0D2C4A;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: #9A9A9A;
      padding-top: 20px;
    }

    &--images {
      padding: 50px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

#what {
  padding: 50px 0;

  .what--title {
    display: flex;
    align-items: center;

    h1 {
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #222831;
    }

    hr {
      width: 73px;
      height: 2px;
      border: none;
      background: #222831;
      margin-left: 10px;
    }
  }

  .what {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    h2 {
      font-family: 'Lora', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;
      color: #10375C;
      padding-top: 10px;
    }

    &--icon {
      .icons {
        margin-left: 30px;
      }
    }
  }

  .swiper {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 50px;
    margin: 0 50px;

  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;

    .slide--block {
      width: 420px;
      height: 393px;
      background: #10375C;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 40px;

      p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        padding-bottom: 100px;
      }

      &__group {
        display: flex;

        .title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 15px;

          h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #FFFFFF;
          }

          span {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .what--line {
    display: flex;
    align-items: center;
    justify-content: center;

    hr {
      width: 40px;
      height: 4px;
      border: none;
      background: #DD2C00;
    }

    .lines {
      width: 160px;
      height: 4px;
      border: none;
      background: #DFDFDF;
    }
  }
}

#find {
  padding: 50px 0;

  h1 {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: #10375C;
  }

  .find {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--block {
      width: 350px;
      height: 171px;
      background: #FFFFFF;
      box-shadow: 5px 5px 5px 5px rgb(180, 178, 178);
      transition: .4s;

      h2 {
        font-family: 'Lora', sans-serif;
        font-weight: 400;
        font-size: 26px;
        line-height: 33px;
        text-align: center;
        color: #000000;
        padding: 40px 0;

        &:hover {
          color: #FFFFFF;
        }
      }

      &:hover {
        transform: scale(1.1);
        background: #FF5722;
      }

      &__square {
        margin-left: 150px;
        width: 60px;
        height: 40px;
        background: #FF5722;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s ease;
        cursor: pointer;

        a {
          color: #FFFFFF;
        }

        &:hover {
          background: #FFFFFF;
          color: #FF5722;
        }
      }

    }
  }

  .find--title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #FF5722;
    }

    a {
      color: #FF5722;
      padding-left: 20px;
    }
  }
}

#news {
  padding: 50px 0;

  .news--title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: 'Lora', sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: #10375C;
    }

    span {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #FF5722;
    }
  }

  .news--general {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;

    &__img {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 730px;
      height: 320px;
      background: #FFFFFF;
      box-shadow: 5px 5px 5px 5px rgb(215, 214, 214);

      &--block {
        padding-right: 40px;

        h2 {
          font-family: 'Lora', sans-serif;
          font-weight: 700;
          font-size: 32px;
          line-height: 41px;
          color: #222831;
        }

        p {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #9A9A9A;
          padding: 20px 0;
        }

        &__image {
          display: flex;
          align-items: center;

          &--title {
            padding-left: 20px;

            h1 {
              font-family: 'Lato', sans-serif;
              font-weight: 500;
              font-size: 18px;
              color: #10375C;
            }

            span {
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 16px;
              color: #9A9A9A;
            }
          }
        }
      }
    }

    &__group {
      width: 350px;
      height: 320px;
      background: #FFFFFF;
      margin: 20px 0;
      box-shadow: 5px 5px 5px 5px rgb(215, 214, 214);

      h3 {
        font-family: 'Lora', sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #222831;
        margin: 10px 0;
        padding-left: 20px;
      }

      p {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #9A9A9A;
        padding-left: 20px;
      }
    }
  }
}

#ready {
  background: #10375C;
  padding-top: 50px;

  .ready {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--left {
      .title {
        display: flex;
        align-items: center;

        h1 {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #F8F8F8;
        }

        hr {
          width: 73px;
          height: 1px;
          background: #F8F8F8;
          margin-left: 10px;
        }
      }

      h2 {
        font-family: 'Lora', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 51px;
        color: #FFFFFF;
        padding-top: 10px;
      }

      p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #DFDFDF;
        padding-top: 16px;
      }

      button {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        padding: 20px 114px;
        border: none;
        background: #FF5722;
        margin-top: 30px;
        transition: .4s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          background: transparent;
          border: 3px solid #FF5722;
        }
      }
    }

    &--right {
      position: relative;

      .right {
        width: 335px;
        height: 390px
      }

      .boy {
        width: 335px;
        height: 505px;
        position: absolute;
        right: -15px;
        bottom: 2px;
      }
    }
  }
}

#footer {
  background: #0D2C4A;
  padding: 90px 0;

  .footer {
    display: flex;
    justify-content: space-around;

    &--title {
      h1 {
        font-family: 'Lora', serif;
        font-weight: 700;
        font-size: 52px;
        color: #FFFFFF;
      }

      p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #F8F8F8;
        opacity: 0.85;
        padding-top: 16px;
      }

      &__icon {
        padding-top: 20px;

        a {
          color: #FFFFFF;
          font-size: 20px;
          padding-right: 20px;
        }
      }
    }

    &--general {
      display: flex;
      padding-top: 20px;

      &__group {
        padding-left: 70px;

        h2 {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
          opacity: 0.5;
          padding-bottom: 20px;
        }

        p {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #FFFFFF;
          padding: 5px 0;
        }

        a {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 16px;
          line-height: 26px;
          color: #FFFFFF;
          display: flex;
          padding: 5px 0;
        }
      }
    }
  }
}




